
/* Blog Post */
.blog-post {
    width: 80%;
    max-width: 1100px;
    background: white;
    margin: 20px auto 0;
    border: 1px solid #f4f4f4;
    box-shadow: 0 0 25px rgba(0, 0, 0, .05);
}

/* Blog Hero */
.blog-hero {
    margin-top: 150px;
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    background-size: cover;
    position: relative;
}

/* Summary */
summary {
    margin-top: 20px;
    display: inline-block;
}

summary h3 {
    width: 100%;
    font-size: 2.5em;
    color: #555;
    font-weight: 500;
}

summary .blog-date {
    width: 100%;
    font-size: 15px;
    padding-left: 2px;
    color: #909090;
}

/* Article */
article {
    padding-bottom: 50px;
}

/* Blog Content */
.blog-content {
    width: 55%;
    margin: auto;
}

/* Blog Image */
.blog-img {
    width: 60%;
    height: 0;
    margin: 50px auto 60px;
    padding-bottom: 35%;
    background-size: cover;
    position: relative;
}

.blog-img-caption {
    position: absolute;
    bottom: -30px;
    font-size: .9em;
    color: #888;
    left: 4%;
}

h3{
    font-size: large;
}
p{
    font-size: medium;
}
/* Add this to your existing CSS or create a new CSS file */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.popup-content a {
    color: #007BFF;
}

button {
    width: 100%; /* Set the width to 100% */
    background-color: #333;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto; /* Center the button horizontally */
    display: block; /* Ensure the button is block-level */
}

/* Media Queries */
@media (min-width: 601px) and (max-width: 1000px) {
    .blog-post {
        width: 90%;
    }
    .blog-content {
        width: 75%;
    }
    .blog-hero {
        padding-bottom: 35%;
    }

    button {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .blog-post {
        font-size: .9em;
        width: 90%;
    }
    .blog-content {
        width: 80%;
    }
    .blog-img {
        width: 90%;
        padding-bottom: 50%;
    }
    .blog-hero {
        padding-bottom: 60%;
    }

    button {
        width: 90%;
    }
}