/* Profile card */
.profile-card {
    display: flex; /* Use flexbox to create columns */
    max-width: 750px;
    margin: 100px auto 0px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    border: 4px solid #3C32A3;
}
.profile-card p{
    font-weight:500 ;
    font-size: medium;
}
.topics-section p{
    font-size: large;
}
/* Profile image column */
.profile-image-column {
    flex: 0 0 auto; /* Don't grow or shrink */
    margin-right: 20px; /* Add space between columns */
}

/* Profile image */
.profile-image1 {
    width: 150px; /* Enlarge the profile image */
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /* Make sure the image doesn't exceed the defined shape */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is treated as a block element */
    border: 4px solid #3C32A3; /* Border color for the profile image */
    margin-bottom: 10px;

}
.profile-image1 img {
   
    width: 100%; /* Make the image fill its container */
    height: 100%;
    border: 4px #ffffff;

}

/* User info column */
.user-info-column {
    flex: 1; /* Grow to fill remaining space */
}

/* Hide "Name" and "Email" labels */
.profile-info p strong {
    display: none;
}

/* Button style */
.topics-section button {
    background-color: #3C32A3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/* Container style */
#topicsContainer {
    margin-top: 10px;
}

/* List style */
#topicsContainer ul {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: medium;
    list-style-type: none;
    padding: 0;
}

/* Form style */
#topicsForm {
    margin-top: 10px;
}

/* Label style */
#topicsForm label {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
        font-size: medium;
    display: block;
    margin-bottom: 5px;

}

/* Input style */
#tagContainer input {
    font-family: "Quicksand", sans-serif;

    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Add button style */
#addTag {
    background-color: #3C32A3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Submit button style */
#topicsForm input[type="submit"] {
    background-color: #3C32A3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 4.4rem;
    margin-bottom: 20px;
    color: #3C32A3;
}