@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}


.nav {
    top: 0;
    z-index: 1000; 
    width: 100%;
    height: 60px;
    position: fixed;
    line-height: 65px;
    text-align: center;
	background-color:#3C32A3;

}


  #logo {
    width: 200px;
    height: auto;
    position: absolute;

    justify-content: center;
	align-items: center;
	left: 10px;
    top:-64px;
  }
  #logo2 {
    width: 240px;
    height: auto;
    position: absolute;

    justify-content: center;
	align-items: center;
	left: 44%;
    top:80px;
    
  }

  #logomix {
    width: 100px;
    height: auto;
    position: absolute;

    justify-content: center;
	align-items: center;
	left: 16.3%;
    top:253.49px;
    
    margin-left: 115px;
    
  }
  #logomix-container{
 
    margin-bottom: 280px;
  }
  #prev{
    width: 80px;
    height: 80px;
    margin-left: 50px;
  }
  #next{
    width: 80px;
    height: 80px;

  }
.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    margin-bottom: 0;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
    
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}




/* Media qurey section */

@media screen and (min-width: 950px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:950px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}



.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;

    height: 60px;
}

/* Adjust the margin-top of your content to align with the affix navigation */
.myH2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 60px; /* Set this value based on the height of your affix navigation */
}

.search-form {
    max-width: 800px; /* Adjust the maximum width of the form */
    margin: 90px auto 20px auto; /* Center the form */
    display: flex; /* Use flexbox to create a row layout */
    flex-wrap: nowrap; /* Ensure items stay in a single row without wrapping */
}
form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 120px;
    height: 40px;
    background-color: #7802ee;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #5605a8;
}

.search-result {
    width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(72, 35, 145, 0.314);
    text-align: left;
}

a{
    font-size: 18px;
    font-weight: bold;
    color: #7802ee;
    margin-bottom: 5px;
}

h3 {
    color: #545454;
    margin-bottom: 5px;
}

p {
    color: #545454;
    margin-bottom: 10px;
}

.result-image {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin: 0 auto; /* Center the container */
    border-radius: 8px;
}

.filter-container {
    margin-top: 20px;
}

.filter-container button {
    width: 120px;
    height: 40px;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    width: 40px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 8px;
}

.pagination span {
    width: 40px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-right: 5px;
    border-radius: 8px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.filter-form {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Adjust as needed */
}
.filter-form label {
    margin: 10px 10px;
}
.filter-select {
    width: 175px;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filter-button {
    width: 70px;
    height: 40px;
    background-color: #7802ee;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #5605a8;
}
